/*320 - 768 - 1290*/

/*0 - 1290*/
@media (max-width: 1290px) {
    .header {
        width: auto;        
    }
    .header .container {        
        display: flex;
        justify-content: center;              
    }    
    .nav__item {
        margin: 0 15px 0 0;
    }
    .nav__item:last-child {
        margin-right: 0;
    }
    .main {
        width: auto;
    }  
    .main .main__logo {
        display: flex;
        justify-content: center;   
        width: auto;     
    }    
    .secondnav__item:last-child {
        margin-right: 0;
    }
    .secondnav .secondnav__link {
        margin: 0;
        margin-right: 20px;
    }
    .bg__img {
        max-width: 100%;
    }
    .buy .content .title {
        margin: 20px 0 0 25px;
    }
    .buy .content .description {
        margin: 20px 0 0 25px;
    }
    .buy .content .button {
        margin: 20px 0 0 25px;
    }    
    .bg__color .cards .title {
        text-align: center;
    }    
    .bg__color .cards .title {
        padding: 20px 0 20px 0;
    }
    .main .bg__color .cards .container .cards__list .card:nth-last-child(1) {
        margin-right: 30px;
    }
    .main .bg__color .cards .container .cards__list .card:nth-child(1) {
        margin-bottom: 30px;
    }
    .aside .box .container {
        margin: 0;
        text-align: center;
    }
    #id {
        margin: 0;
    }
    
    
}


/*0 - 767*/
@media (max-width: 767px) {
    .header {
        width: auto;                       
    }
    .header .header__container .container {
        padding: 12px 0;
    }   
    .main .main__logo {
        width: auto;        
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .main .main__logo .logo {
        display: flex;
        justify-content: center;
    }    
    .main .logo .title {
        text-align: center;
    }
    .main .action {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main .action .phone {
        text-align: center;
        margin: 0;
        
    }
    .main .action .button {        
        padding: 12px 75px 13px 75px;
        margin: 20px 0;
    }
    .secondnav .secondnav__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .secondnav__item:last-child {
        margin-bottom: 0;
    }      
    .secondnav .secondnav__link {
        margin: 0 0 5px 0;
    }
    .bg__img {
        max-width: 100%;
    }
    .buy .content {
        width: auto;
        display: flex;
        flex-direction: column;                      
    }
    .buy .content .title {
        font-size: 25px;
        line-height: 20px;
        margin: 5px 0 0 5px;    
    } 
    .buy .content .description {
        font-size: 10px;
        line-height: 12px;
        margin: 15px 0 0 5px;
        max-width: 140px;
        text-align: center;
    }    
    .buy .content .button {
        width: auto;        
        padding: 12px 90px 13px 90px;
    }
    .bg__color .cards .title {
        padding: 40px 0 20px 0;
        font-size: 20px;
    }
    .main .bg__color .cards .container .cards__list .card {
        margin-bottom: 30px;
        margin-left: 30px;
        
    }
    .main .bg__color .cards .container .cards__list .card:nth-last-child(1) {
        margin-bottom: 0;
    }
   
    
}    



