* {
    box-sizing: border-box;
}
body {    
    font-family: 'Roboto', sans-serif;
}
.clerfix {
    clear: both;
}
.container {
    background-color: #E5E5E5;
    max-width: 1920px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 17px 0 16px 0; 
}
.nav__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.nav__link {    
    width: 64px;
    height: 17px;
    left: 736px;
    top: 17px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}
